/*=====main=====*/
.page-banner {
    height: 520px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
    
}

.page-title-bar{
    padding: 0 15px;
    margin: 0;
    background-color:#f7f7f7;
}
.container{
    max-width: 1200px;
    display: flex;
}
.page-title-bar .container h3{
    color: #fff;
    background-color: #f77400;
    padding: 0 15px;
    /*text-align: center;*/
    white-space: nowrap;/*文本不换行*/
    overflow: hidden;/*文本溢出容器时，隐藏溢出的部分*/
    text-overflow: ellipsis;/*把隐藏的部分用三个点代替，让人知道有内容被隐藏*/
}