/*=====main=====*/
.page-banner {
    height: 520px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
    
}

.page-title-bar{
    padding: 0 15px;
    margin: 0;
    background-color:#f7f7f7;
}
.container{
    max-width: 1200px;
    display: flex;
    /*flex-direction: column;让子元素垂直排列*/
    flex-wrap: wrap; /* 关键：新增此行，允许子元素换行！ */
}
.page-title-bar .container h2{
    color: #fff;
    background-color: #f77400;
    padding: 15px 30px;
    margin: 0x;
    /*text-align: center;*/
    white-space: nowrap;/*文本不换行*/
    overflow: hidden;/*文本溢出容器时，隐藏溢出的部分*/
    text-overflow: ellipsis;/*把隐藏的部分用三个点代替，让人知道有内容被隐藏*/
}
.page-content .container p{
    padding: 60px 0px;
    width: 100%;
    font-size: 20px;
    line-height: 2;
}
.showcase-img img{
    max-width: 100%;
    height: auto;
    margin-bottom: 5%;
}